* {
  margin: 0;
  padding: 0;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: #4a4a4a;
  background-color: hsl(0, 0%, 90%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #000;
  font-weight: bold;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav > ul > li {
  display: inline;
}

nav > ul > li:first-child::after,
nav > ul > li:nth-child(2)::after {
  content: " | ";
}

#reviews {
  margin-top: 5px;
  padding: 5px;
  text-align: left;
  width: 75%;
  margin: auto;
}

.review {
  margin-bottom: 15px;
  padding: 5px;
  border: 2px solid green;
  border-radius: 10px;
}

footer {
  width: max-content;
  margin: auto;
}
